
.img1 {
    width: 50px;
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.img2 {
    width: 50px;
    float: right;
    margin-bottom: 1px;
}

.img2 {
    width: 50px;
    float: right;
    margin-bottom: 1px;
}


.date {
    margin-top: 15px;
    margin-bottom: 0;
}

.dollars {
    margin-left: 180px;
}

.miah {
    width: 90px;
    border-radius: 45px;
    position: absolute;
    margin-top: 15px;
}
.miah2 {
    width: 90px;
    border-radius: 45px;
    position: absolute;
    margin-top: 20px;
}

.color1 {
    background-color: rgb(206, 199, 199);
    margin-bottom: 0;
}

.color2 {
    background-color: rgb(249, 244, 244);
    margin-top: 0;
}

.color3 {
    margin-top: 20px;
    border-color: rgb(0, 3, 72);
}

.img3 {
    width: 170px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.color4 {
    background-color: rgb(238, 238, 238);
}
